# Additional Flink configuration

# TODO: depracted (everything handed over to Flink via command line) -- remove at some point

# for test query
# the size of the window in ms
window.size=60000

# the slide of the window in ms
window.slide=1000

# the path for storing the checkpoints
# relative paths will be prefixed with directory given by environment variable SCRATCH_DIR
# currently ignored
checkpoint.storage.path=flink-checkpoints

# checkpoint interval
# currently ignored
checkpoint.interval=300000
